@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #3399dd;
  --secondary-color: #88d1f1;
  --primary-text-color: #eee;
}

body {
  background-color: #050c1a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

main {
  min-width: 350px;
  max-width: 500px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 1rem;
}

.typing-text {
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
  box-shadow: 0 0 5px var(--primary-color);
  background-color: transparent;
  color: var(--secondary-color);
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1rem;
  letter-spacing: 2px;
}

.typing-box {
  width: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
  box-shadow: 0 0 5px var(--primary-color);
  background-color: transparent;
  margin-bottom: 1rem;
  padding: 1rem;
  color: var(--primary-text-color);
  font-size: 1rem;
}

.results {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.label {
  color: var(--secondary-color);
  font-size: 0.7rem;
  border: 2px solid #eeeeee55;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
}

.green {
  background-color: rgba(0, 255, 0, 0.3);
}

.red {
  background-color: rgba(255, 0, 0, 0.3);
}

.underline {
  border-bottom: 2px solid #eeeeee99;
}

footer {
  color: #eeeeee55;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  padding: 1rem;
}
